# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List libraries used by Data Scientists
* List Data Science development tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Pandas |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [17]:
minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author
Leandros Nikolopoulos